@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #84b6f4;
}

.container {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 50px;
  width: 80vw;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #333;
  max-width: 500px;
}

h2 {
  color: #333;
  line-height: 1;
  margin-bottom: 45px;
}

.joke {
  font-size: 20px;
  color: #333;
  margin-bottom: 30px;
}

.btn {
  background-color: #d884f4;
  color: #fff;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #333;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-style: inherit;
}

.btn:hover{
  opacity: .9;
}

.btn:active {
  transform: scale(.98);
}